
body{
  box-sizing: border-box;
  margin: 0 auto;
  font-family:sans-serif;
}
.container{
  background: #f4f4f4;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.top-bar{
  font-size: 11px;
  background: #ff5c00;
  display: flex;
  align-content:flex-end;
  justify-content: flex-start;
  flex-direction: row;
  padding:.2rem 0 .2rem 0;
}

.top-bar__item{
color: white;
padding: .3rem .5rem .3rem .5rem;

}
.free-shipping{
  background: #db520e;
padding: .3rem .5rem .3rem .5rem;
margin: 0 1rem 0 10rem;
border-radius: .3rem;
text-transform: uppercase;
color: white;
}



.nav{
  display: flex;
  justify-content: space-between;
  padding:0 3rem 3rem 0;
  background: #fff;

}
.nav__item{
    border: blue 1px solid;
}
.cart-search{
  align-self: flex-end;
}
.login{
  text-align: right;
}
.cart-button{

}
.search-box{

}


.tie-box{
  display: flex;
  justify-content: space-around;
 flex-wrap: wrap;
 background: yellow;
}
.tie-box__tie{
  text-align: center;
  width: calc(100% / 9 );

/*border: 1px black solid;*/
}

.tie-box__tie img{
  width: 100%;
}
.products{
  display: flex;
  justify-content: space-around;

}
.products__item{
   position: relative;
 border: black 1px solid;
  width: 16rem;


}
.products__item h3{
  position: absolute;
  top:0px;
  right:1rem;


}
.products__item img{
  width: 100%;
}

.info{
text-align: center;
padding: 10rem;
}
.news{
  display: flex;
  justify-content: space-around;
}

.news__item{
  border: blue 1px solid;
  width: 100%;
  max-width: 10rem;
}
.news__item img{
  width: 100%;
}






















.bottom-bar{
  /*align-content: flex-end;*/
  background: red;
display: flex;
}
.bottom-list{
border: blue 1px solid;
}
